# Ignore virtual environment directory
cost_analyzer/
cost_analyzer


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other unnecessary files
*.db
*.git
*.gitignore
*.env
*.vscode
